{% extends 'admin_headernologout.html' %}
{% block content %}

<br>
<br>
<div class="col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h3 style="color:white;"><b>Pending Branches</b></h3>
</div>
<br>
<div class=" container" style="background-color: #5bd9cc; color: lavenderblush;">
<table style="width:100%; color:black; text-align:left;" class="table">

    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Branch</th>
        <th >Bank</th>
        <th>Location</th>
        <th >Ifsc code</th>
        <th >Start Date</th>
        <th>Atms</th>
        <th>District</th>
        <th>Phone</th>
        <th></th>

    </tr>
{% for data in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.0}} </td>
      <td>{{data.1}}</td>
        <td><a href="../location/{{data.9}}/{{data.10}}"><span class="glyphicon glyphicon-pencil" >view</span></a></td>
      <td>{{data.2}}</td>
        <td> {{data.3}} </td>
      <td>{{data.4}}</td>
      <td>{{data.5}}</td>
        <td> {{data.6}} </td>
        <td><a href="../approve_branch/{{data.0}}">Approve</a></td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}