{% extends 'user_headernologout.html' %}
{% block content %}

<br>
<br>
<div class="col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h3 style="color:white;"><b>Viewing  Banks</b></h3>
</div>
<br>
<div class=" container" style="background-color: #5bd9cc; color: lavenderblush;">
<table style="width:100%; color:black; text-align:left;" class="table">

    <tr style="color:red;">
        <th>Sl No.</th>
        <th> Bank</th>
        <th></th>
    </tr>
{% for data in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.1}} </td>
        <td><a href="../user_view_branch/{{data.0}}">view branch</a></td>



    </tr>
{% endfor %}
</table>
</div>
{% endblock %}